{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{% static 'tests/images/robotframework-sm.svg' %}">
        <link rel="stylesheet" href="{% static 'tests/css/style.css' %}">
    </head>
    <body>
        <div id="app"></div>

        <!-- Settings Modal -->
        <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="settingsModalLabel">Settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row mt-2 g-2 row-cols-auto">
                            <div class="col">
                                <form action="{% url 'tests:refresh_tests' %}" method="post">
                                    {{ robot_location_form }}
                                    {% csrf_token %}
                                    <button type="submit" name="robot_location" class="btn btn-outline-secondary">Project Directory</button>
                                </form>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="inputGroupFile04" placeholder="Robot project directory..." value="{{ robot_dir.location }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{% url 'tests:refresh_tests' %}" method="post">
                        {{ refresh_tests_form.as_p }}
                        {% csrf_token %}
                        <button type="submit" name='refresh_tests' class="btn btn-primary" id="refresh_tests">Refresh Tests</button>
                        <button class="d-none btn btn-primary" type="button" id="loading_tests" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span>Loading...</span>
                        </button>
                    </form>
                </div>
            </div>
            </div>
        </div>

        {% block content %}{% endblock %}

        <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
        <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'tests/js/table_search.js' %}"></script>
        <script>
            const refreshBtn = document.getElementById("refresh_tests");
            const loadingBtn = document.getElementById("loading_tests");
            if (refreshBtn && loadingBtn) {
                refreshBtn.onclick = function() {
                    refreshBtn.classList.toggle("d-none");
                    loadingBtn.classList.toggle("d-none");
                };
            }
        </script>
    </body>
</html>