{% load static %}

<link rel="stylesheet" href="{% static 'tests/style.css' %}">

<form action="{% url 'tests:refresh_tests' %}" method="post">
{{ refresh_tests_form.as_p }}
{% csrf_token %}
<button type="submit" name='refresh_tests'>Refresh Tests</button>
</form>

{% if robot_dir %}
    <p>{{ robot_dir.location }}</p>
{% endif %}
<form action="{% url 'tests:refresh_tests' %}" method="post">
{{ robot_location_form }}
{% csrf_token %}
<button type="submit" name='robot_location'>Robot Location</button>
</form>

<table summary="test_suites">
    <tr>
        <th>Name</th>
        <th>Documentation</th>
    </tr>
{% if test_suite_list %}
    {% for test_suite in test_suite_list %}
    <tr>
        <td><a href="{% url 'tests:test_suite' test_suite.id %}">{{ test_suite.name }}</a></td>
        <td>{{ test_suite.documentation|linebreaks }}</td>
    {% endfor %}
    </tr>
{% else %}
    <tr>
        <td>No test suites are available.</td>
        <td></td>
    </tr>
{% endif %}
</table>
